/*
Colors:
    background: #303030
    active link: #00FFA8
    text: white
*/

* {
    box-sizing: border-box;
}

body {
    background: #303030;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: white;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 500px;
}

a {
    color: white;
    text-decoration: none;
}

a:active,
a:hover {
    color: #00FFA8;
    text-decoration: none;
    transition-duration: .7s;
}

.name {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}

.nav-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}

.nav-button {
    list-style: none;
    text-align: center;
}

#work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-row-gap: .25rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.vr-projects,
.web-projects {
/*        display: contents;*/
}

.vr-project,
.web-project {
    border: .1rem solid;
    border-color: #00FFA8;
    padding: 10px;
    margin: 10px;
}

#about-me p {
    margin: 10px auto auto auto;
    padding-left: 10px;
    min-width: 200px;
    max-width: 500px;
}